<!DOCTYPE html>
<html>
  <head>
    <title>RailsVueMpa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>

    <%= frontend_javascript_tag 'webpacked.js' %>
  </head>

  <body>
    <%= tag.div(
      id: 'vue-root',
      **vue_root_data_attributes(@page_data)
    ) %>
  </body>
</html>
